server-electron/node_modules
client-electron/node_modules
new_app/node_modules
frontend copy/node_modules
frontend/node_modules
node_modules
package-lock.json
server-electron/out
client-electron/out
yarn.lock
mysql-8.0.36-winx64.zip
electron-system/electron/assets/
mysql-8.0.42-macos15-arm64.tar.gz
mysql-8.0.42-macos15-x86_64.tar.gz